<!doctype html>
<html lang="en">
  <head>

		<!-- Webpage Title -->
    <title>Hello, world!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style type="text/css">
      .card {
        width: 900px;
        margin: auto;
      }
      .pricetag {
        float: left;
      }
      .nametag {
        margin-left: 10px;
        float: left;
        width: 250px;
      }
      .description {
        float: left;
        width: 250px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div class="card">
  <img class="card-img-top" src="http://cyw.pe.kr/images/2013/646247-16.jpg" alt="Card image cap">
  <div class="card-body">
      <div class="nametag">
        <h3 class="card-title">5000원권 팝니다!</h3>
      </div>
      <div class="pricetag" >
        <h5>가격: 5500원</h5>
      </div>
    <p class="card-text"></p>


  </div>
  <div class="decription"> 이 상품으로 말할거 같으면 전세계에 하나밖에 없는 유일한 5000원 권 입니다. </div>
  <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">주문자 성함</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">구매수량</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">주소</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">전화번호</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
</form>
</div>

  </body>
</html>